<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cesar Munari - Bibliografia</title>
</head>
<body>
    <img src="https://media.licdn.com/dms/image/v2/C5603AQE3UqWZ5257xA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1517578005718?e=2147483647&v=beta&t=471GnyY9mUSmXfUjc6BiQI_n03pkQ1eHWF_FQK4k4fM" alt="">
    <p>
        Professor universitário com ampla experiência na área de Tecnologia da Informação, atua como docente na Faculdade de Tecnologia de Sorocaba (Fatec Sorocaba), onde leciona disciplinas como Estruturas de Dados, Linguagem de Programação, Sistemas de Informação e Teoria de Sistemas.
        Escavador
        
        Munari tem se destacado como orientador em competições de programação, como a Maratona de Programação InterFatecs. Em 2019, sua equipe, os Renegades, venceu a oitava edição da competição, realizada na Fatec Ourinhos, superando mais de 170 alunos de 37 Fatecs.
        Cruzeiro do Sul+3Centro Paula Souza+3Folha Nobre+3
        
        Além de seu trabalho em sala de aula, Munari tem se envolvido em atividades de extensão universitária, como organização e treinamento de equipes para competições de programação, e orientação de atividades de monitoria.
        Escava</p>
</body>
</html>