<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fatec sorocaba</title>
</head>
<body>
    <h1>Professores da fatec sorocaba</h1>
    <button onclick="window.location.href='munari'">Não clique</button>
</body>
</html>